services:
  ### MongoDB Service ###
  mongodb:
    image: mongo:latest
    container_name: rss_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - rss_network

  ### RabbitMQ Service ###
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rss_queue
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # (User/Pass: guest)
    networks:
      - rss_network

  ### Backend NestJS Service ###
  backend:
    build: ./backend/rss-feed
    ports:
      - "3000:3000"
    volumes:
      - ./backend/rss-feed:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    environment:
      - MONGO_URI=mongodb://mongodb:27017/rss_aggregator
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      - mongodb
      - rabbitmq
    networks:
      - rss_network

  ### Frontend Vite (React) Service ###
  frontend:
    build: ./frontend/rss-feed
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/rss-feed:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    depends_on:
      - backend
    networks:
      - rss_network

networks:
  rss_network:
    driver: bridge

volumes:
  mongo_data:
