services:
  ### Backend NestJS Service ###
  backend:
    build: ./backend/rss-feeder
    ports:
      - "3000:3000"
    volumes:
      - ./backend/rss-feeder:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app

  ### Frontend Vite (React) Service ###
  frontend:
    build: ./frontend/rss-feeder
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/rss-feeder:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    depends_on:
      - backend
